.bgpump{
	width:100%;
	height:170%;
    background-color:#e5e4e2;
    background-size:cover;
	padding-top:1px;
}

#boxpp1{
	background:#ffffc2;
	color:black;
	margin-top:70px;
	margin-left:100px;
	height:230px;
	width:530px;
    border:1px white solid;
	box-shadow:0px 1px 1px 2px gray;
}
#txtpp{
	margin-left:250px;
	margin-top:7px;
	font-family:timesnewroman;
	font-weight:800;
	font-size:24px;
	color:red;
}
#imgpp{
	margin-top:-35px;
	margin-left:7px;
	width:230px;
	height:215px;
	background:url('petrol pumps/petrol pump.jpg');
}
#description1{
	font-family:arial;
	font-size:17px;
	margin-left:250px;
	margin-top:-100px;
}
/* second */
#boxpp2{
	background:#ffffc2;
	color:black;
	margin-top:-230px;
	margin-left:720px;
	height:230px;
	width:530px;
    border:1px white solid;
	box-shadow:0px 1px 1px 2px gray;
}	
	#description2{
	font-family:arial;
	font-size:17px;
	margin-left:250px;
	margin-top:-100px;
}

/* third */
#boxpp3{
	background:#ffffc2;
	color:black;
	margin-top:30px;
	margin-left:100px;
	height:230px;
	width:530px;
    border:1px white solid;
	box-shadow:0px 1px 1px 2px gray;
}
	
	#description3{
	font-family:arial;
	font-size:17px;
	margin-left:250px;
	margin-top:-120px;
}
/* fourth */
#boxpp4{
	background:#ffffc2;
	color:black;
	margin-top:-230px;
	margin-left:720px;
	height:230px;
	width:530px;
    border:1px white solid;
	box-shadow:0px 1px 1px 2px gray;
}
#description4{
	font-family:arial;
	font-size:17px;
	margin-left:250px;
	margin-top:-130px;
}	
/* fifth */

#boxpp5{
	background:#ffffc2;
	color:black;
	margin-top:30px;
	margin-left:100px;
	height:230px;
	width:530px;
    border:1px white solid;
	box-shadow:0px 1px 1px 2px gray;
}
		#description5{
	font-family:arial;
	font-size:17px;
	margin-left:250px;
	margin-top:-120px;
}
	
/* sixth */
	
	#boxpp6{
	background:#ffffc2;
	color:black;
	margin-top:-230px;
	margin-left:720px;
	height:230px;
	width:530px;
    border:1px white solid;
	box-shadow:0px 1px 1px 2px gray;
}
#description6{
	font-family:arial;
	font-size:17px;
	margin-left:250px;
	margin-top:-130px;
}
/* seventh */

